In [2]:
print("hello world")

hello world

In [3]:
a = 1
b = 2
c = a + b

print(c)

3

In [4]:
my_var = 3
print(type(my_var))
print(my_var)

<class 'int'>
3

In [5]:
2my_var = 20
print(2my_var)

SyntaxError: invalid decimal literal (1396056457.py, line 1)

In [ ]:
my@var = 2
print(my@var)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1841892965.py, line 1)

In [ ]:
my2var = 3
print(my2var1)

3

In [ ]:
my_var = 10 + 12j
print(my_var)
print(type(my_var))

(10+12j)
<class 'complex'>

In [ ]:
my_num = 4.958e9
print(my_num)
print(type(my_num))

4958000000.0
<class 'float'>

In [ ]:
a = 10
b = float(a)
print(a)
print(b)
print(type(b))

10
10.0
<class 'float'>

In [ ]:
a = 7.3
b = int(a)
print(b)
print(type(b))

7
<class 'int'>

In [ ]:
if = 2
print(if)

SyntaxError: invalid syntax (2968236334.py, line 1)

In [ ]:
my_list = [10,20,30,40]
print(my_list)
print(type(my_list))
print(my_list[2])
my_list[2] = 50
print(my_list)

[10, 20, 30, 40]
<class 'list'>
30
[10, 20, 50, 40]

In [ ]:
11111

11111

In [ ]:
x = 5
print(id(x))

x = 10
print(id(x))

140712289793064
140712289793224

In [ ]:
my_list = [10,30,40,50,60]
print(my_list)
print(id(my_list))

my_list[2] = 20
print(my_list)
print(id(my_list))

[10, 30, 40, 50, 60]
1698828055872
[10, 30, 20, 50, 60]
1698828055872

In [ ]:
my_list = [True , "cat" , 19 , 20]
print(my_list)

[True, 'cat', 19, 20]

In [ ]:
print(len(my_list))

4

In [ ]:
my_list = [10,30,40,50,60,70,200,40]
print(my_list[2:5])

[40, 50, 60]

In [ ]:
my_list = [10,30,40,50,60,70,200,40]
print(my_list[2:])

[40, 50, 60, 70, 200, 40]

In [ ]:
my_list = [10,30,40,50,60,70,200,40]
print(my_list[:5])

[10, 30, 40, 50, 60]

In [ ]:
print(my_list[-4:-1])

[60, 70, 200]

In [ ]:
my_list = [10 , 8 , 9 ,5 , 4 , 6 , 9 , 20]
my_list[2 : 5] = [90 , 60 , 50]
print(my_list)

[10, 8, 90, 60, 50, 6, 9, 20]

In [ ]:
my_list = [10 , 8 , 9 ,5 , 4 , 6 , 9 , 20]
my_list.insert(2, 40)
print(my_list)

[10, 8, 40, 9, 5, 4, 6, 9, 20]

In [ ]:
my_list = [10 , 8 , 9 ,5 , 4 , 6 , 9 , 20]
my_list.insert(0, 40)
print(my_list)

[40, 10, 8, 9, 5, 4, 6, 9, 20]

In [ ]:
my_list.append(44)
print(my_list)

[10, 8, 40, 9, 5, 4, 6, 9, 20, 44]

In [ ]:
my_list.remove(40)
print(my_list)

[8, 9, 5, 4, 6, 9, 20, 44]

In [ ]:
my_var = my_list.pop(5)
print(my_list)
print(my_var)

[8, 9, 5, 4, 6]
44

In [ ]:
del my_list[2]
print(my_list)

[8, 9, 6]

In [ ]:
my_list = [40 , 50 ,6 ,7 , 8 , 9]
my_list.clear()
print(my_list)

[]

In [ ]:
my_list = [40 , 50 ,6 ,7 , 8 , 9]
my_list.sort()
print(my_list)

[6, 7, 8, 9, 40, 50]

In [ ]:
my_list = ["apple" , "32" , "rat" , "Grasse" , "rabbite"]
my_list.sort()
print(my_list)

['32', 'Grasse', 'apple', 'rabbite', 'rat']

In [ ]:
my_list = ["apple" , "32" , "rat" , "Grasse" , "rabbite"]
my_list.sort(reverse=True)
print(my_list)

['rat', 'rabbite', 'apple', 'Grasse', '32']

In [ ]:
my_list = ["apple" , "32" , "rat" , "Grasse" , "rabbite"]
my_list.reverse()
print(my_list)

['rabbite', 'Grasse', 'rat', '32', 'apple']

In [ ]:
my_list = ["dog" , "cat" , "rabbit"]
my_list_1 = my_list.copy()
my_list = ["fish"]
print(my_list)
print(my_list_1)

['fish']
['dog', 'cat', 'rabbit']

In [ ]:
my_list1 = [10 , 20 , 30 , 40 , 50]
my_list2 = [12,30, 49]
my_list3 = my_list1 + my_list2
print(my_list3)

[10, 20, 30, 40, 50, 12, 30, 49]

In [ ]:
my_list1 = [10 , 20 , 30 , 40 , 50]
my_list2 = [12,30, 49]
my_list1.extend(my_list2)
print(my_list1)

[10, 20, 30, 40, 50, 12, 30, 49]